<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3"><span class="text-primary">Hizmetlerimiz</span></h1>
            <p class="mb-0">
                Müşterilerimizin farklı ihtiyaçlarına yönelik geniş bir hizmet yelpazesi sunuyoruz. Profesyonel ekibimiz ve modern teknolojimizle size en uygun çözümü bulmanıza yardımcı oluyoruz. Kaliteli hizmet anlayışımızla her adımda yanınızdayız.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-phone-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Telefonla Rezervasyon</h5>
                    <p class="mb-0">7/24 aktif rezervasyon hattımızla istediğiniz zaman arayabilir, uzman personelimizden destek alabilirsiniz. Hızlı ve güvenilir rezervasyon hizmeti.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-money-bill-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Özel Fiyatlar</h5>
                    <p class="mb-0">Uzun süreli kiralama, kurumsal müşteriler ve özel günler için avantajlı fiyat tekliflerimizden yararlanın. Size özel indirim fırsatları.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-road fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Tek Yön Kiralama</h5>
                    <p class="mb-0">Bir şehirden alıp başka bir şehirde teslim etme imkanı. Seyahat planlarınıza uygun esnek kiralama seçenekleri sunuyoruz.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-umbrella fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Kapsamlı Sigorta</h5>
                    <p class="mb-0">Kasko ve trafik sigortası dahil kapsamlı sigorta paketlerimizle güvenle seyahat edin. Ek güvence seçenekleri mevcuttur.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-building fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Şehirler Arası</h5>
                    <p class="mb-0">Türkiye'nin dört bir yanında şubelerimizle şehirler arası seyahatlerinizde yanınızdayız. Geniş hizmet ağımızdan faydalanın.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="service-icon mb-4">
                        <i class="fa fa-car-alt fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Ücretsiz Servisler</h5>
                    <p class="mb-0">Havalimanı transfer hizmeti, araç teslim-tesellüm ve temizlik hizmetleri tamamen ücretsiz. Premium hizmet deneyimi.</p>
                </div>
            </div>
        </div>
    </div>
</div>