<div class="container-fluid feature py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Hizmet<span class="text-primary"> Standartlarımız</span></h1>
            <p class="mb-0">
                Araç kiralama sektöründe kalite ve güvenilirlik standartlarını belirleyen hizmetlerimizle, size en iyi deneyimi sunuyoruz. Premium araç filomuz ve profesyonel hizmet anlayışımızla her ihtiyacınıza çözüm üretiyoruz.
            </p>
        </div>
        <div class="row g-4 align-items-center">
            <div class="col-xl-4">
                <div class="row gy-4 gx-0">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <span class="fa fa-trophy fa-2x"></span>
                            </div>
                            <div class="ms-4">
                                <h5 class="mb-3">Birinci Sınıf Hizmet</h5>
                                <p class="mb-0">Premium araç filomuz ve deneyimli ekibimizle size en kaliteli hizmeti sunuyoruz. Müşteri memnuniyeti bizim önceliğimizdir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item">
                            <div class="feature-icon">
                                <span class="fa fa-road fa-2x"></span>
                            </div>
                            <div class="ms-4">
                                <h5 class="mb-3">7/24 Yol Yardımı</h5>
                                <p class="mb-0">Herhangi bir durumda yanınızdayız. 7 gün 24 saat aktif yol yardım hizmetimizle güvenle seyahat edin.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <img src="~/Cental-1.0.0/img/features-img.png" class="img-fluid w-100" style="object-fit: cover;" alt="Özellikler Görseli">
            </div>
            <div class="col-xl-4">
                <div class="row gy-4 gx-0">
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item justify-content-end">
                            <div class="text-end me-4">
                                <h5 class="mb-3">Minimum Fiyata Kalite</h5>
                                <p class="mb-0">En uygun fiyatlarla kaliteli hizmet. Bütçenizi zorlamadan premium araçlara sahip olun.</p>
                            </div>
                            <div class="feature-icon">
                                <span class="fa fa-tag fa-2x"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item justify-content-end">
                            <div class="text-end me-4">
                                <h5 class="mb-3">Ücretsiz Araç Teslimi</h5>
                                <p class="mb-0">İstediğiniz lokasyonda araç teslim alımı ve iadesi. Kapınıza kadar hizmet sunuyoruz.</p>
                            </div>
                            <div class="feature-icon">
                                <span class="fa fa-map-pin fa-2x"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>