@using CQRS_Project.CQRS.Results.EmployeeResults
@model List<GetEmployeeQueryResult>

<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3"><span class="text-primary">Destek</span> Ekibimiz</h1>
            <p class="mb-0">
                Deneyimli ve uzman ekibimiz, size en kaliteli hizmeti sunmak için 7/24 hizmetinizdedir. Her türlü sorunuz, talebiniz ve ihtiyacınız için profesyonel destek ekibimizle iletişime geçebilirsiniz. Müşteri memnuniyeti bizim önceliğimizdir.
            </p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item p-4 pt-0">
                        <div class="team-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded w-100">
                        </div>

                        <div class="team-content pt-4">
                            <h4>@item.EmployeeName</h4>
                            <p>@item.Title</p>
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-light rounded-circle mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>