<div class="container-fluid banner pb-5 wow zoomInDown" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="banner-item rounded">
            <img src="~/Cental-1.0.0/img/banner-1.jpg" class="img-fluid rounded w-100" alt="Araç Kiralama Banner">
            <div class="banner-content">
                <h2 class="text-primary">Aracınızı Kiralayın</h2>
                <h1 class="text-white">Kiralama İlginizi mi Çekiyor?</h1>
                <p class="text-white">Tereddüt etmeyin, bize mesaj gönderin.</p>
                <div class="banner-btn">
                    <a href="https://wa.me/905551234567" class="btn btn-secondary rounded-pill py-3 px-4 px-md-5 me-2">WhatsApp</a>
                    <a href="#contact" class="btn btn-primary rounded-pill py-3 px-4 px-md-5 ms-2">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</div>