@model CQRS_Project.CQRS.Commands.AboutCommands.CreateAboutCommand
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hakkımızda Ekle</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" asp-for="Title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <input type="text" asp-for="Description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Alt Açıklama</label>
                                <input type="text" asp-for="SubDescription" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Görsel 1</label>
                                <input type="text" asp-for="ImageUrl" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Görsel 2</label>
                                <input type="text" asp-for="ImageUrl2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Misyon</label>
                                <input type="text" asp-for="Mission" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Vizyon</label>
                                <input type="text" asp-for="Vision" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Kaydet</button>
                            <button class="btn btn-outline-light btn-sm">İptal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="footer-inner-wraper">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
            </div>
        </div>
    </footer>
    <!-- partial -->
</div>

